################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/vidly/packages
/vidly/vidly/bin
/vidly/vidly/obj/Debug
